DATABASE_URL="postgresql://postgres:123123123@localhost:5432/postgres?schema=public"
NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000"

RESEND_API_KEY=
RESEND_EMAIL=ChristianMaterials@onelib.click

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Docker Postgres ENVS (only for dev)
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123123123

# Not essential
I18NEXUS_API_KEY=

ADMIN_PASSWORD=