.DayPicker-wrapper {
  padding-bottom: 0 !important;
}

.DayPicker-Day {
  padding: 0 !important;
  border-radius: 4px !important;
  cursor: default !important;
  outline: none;
}

.DayPicker-Day--selected {
  background-color: transparent !important;
}

.DayPicker-Day:hover {
  background-color: transparent !important;
}

.DayPicker-Months {
  border-radius: 8px;
  padding-bottom: 8px;
  background-color: #f8f8fa;
}

.DayPicker-Month {
  margin: 0 !important;
}

.DayPicker-Weekdays {
  background-color: #485f95 !important;
  border-bottom: 8px solid transparent !important;
}

.DayPicker-Week {
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}

.DayPicker-Caption {
  padding: 14px !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  background-color: #485f95;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
}

.DayPicker-Body {
  padding: 0 !important;
}

.DayPicker-NavButton {
  width: 25px !important;
  height: 25px !important;
}

.DayPicker-NavButton--next {
  background-image: url('../assets/icons/calendarNext.png') !important;
  background-size: cover !important;
}
.DayPicker-NavButton--prev {
  background-image: url('../assets/icons/calendarPrev.png') !important;
  background-size: cover !important;
  margin-right: 30px !important;
}

.DayPicker-Day--outside {
  width: 0;
  height: 0;
}
