@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-day-outside-period {
  background-color: #f1f5f9 !important;
  cursor: not-allowed !important;
}

.rbc-slot-outside-period {
  background-color: #f1f5f9 !important;
  cursor: not-allowed !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    color-scheme: only light;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* NProgress Custom Styles */
#nprogress {
  pointer-events: none;
  z-index: 119999; /* High z-index to appear above everything */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 4px;
}

#nprogress .bar {
  background: #00bfff !important; /* Match your theme color */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw !important; /* Force full viewport width */
  height: 4px; /* Adjust thickness */
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #00bfff, 0 0 5px #00bfff;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: none; /* Hide spinner since you have showSpinner: false */
}

/* AddButton.tsx */
.gray4 path {
  stroke: #eff4ff;
}
.secondary path {
  stroke: #1d3a5f;
}